version: "3.7"

services:
  caddy:
    image: caddy:2.3.0-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes: 
      - ./Caddyfile:/etc/caddy/Caddyfile:rw
    networks: 
      - caddy

  app:
    image: ghcr.io/fuji8/fix_tyop-server:latest
    restart: always
    environment:
      aitalk_username: "{{app.aitalk_username}}"
      aitalk_password: "{{app.aitalk_password}}"
      mariadb_host: mariadb
      mariadb_password: "{{app.mariadb_root_password}}"
    expose:
      - "1323"
    depends_on:
      - mariadb
    networks:
      - default
      - caddy

  mariadb:
    image: mariadb:10.3.9
    environment:
      MYSQL_ROOT_PASSWORD: "{{app.mariadb_root_password}}"
      MYSQL_DATABASE: app
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    volumes:
      - "./mariadb:/var/lib/mysql"
    expose:
      - "3306"
    networks:
      - default

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mariadb
      - PMA_USER=root
    ports:
      - "18000:80"
    depends_on:
      - mariadb
    networks:
      - default


networks: 
  caddy:

